[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-markdownextradata-plugin = "*"
pygments = "*"
mkdocs-video = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
serve = "mkdocs serve"
build = "mkdocs build"
