[data-md-color-scheme="syngenta-light"] {
    --md-primary-fg-color: #70D979;
}
[data-md-color-scheme="syngenta-dark"] {
    --md-primary-fg-color: #01004C;
}

.md-copyright, .md-footer {
    display: none;
}

.md-header__button.md-logo :-webkit-any(img,svg){
    background: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    height: 60px;
    width: 60px;
}

.md-typeset a{
    color: #70D979;
}

.md-nav__link:is(:focus,:hover){
    color: #70D979;
}

.md-typeset a:focus, .md-typeset a:hover{
    color: #01004C;
}

.md-nav__item .md-nav__link--active{
    color: #70D979;
}
